<!DOCTYPE html>
%html
%head
  %title 
    ThemeSpike1
  = stylesheet_link_tag    "application", :media => "all"
  = theme_stylesheet_link_tag    "application", :media => "all" if params[:theme].present?
  = csrf_meta_tags
%body
  = yield
  = javascript_include_tag "application"
  = theme_javascript_include_tag "application" if params[:theme].present?